.link {
  color: var(--dip-black);
  text-decoration: none;
  background-image: linear-gradient(to bottom, var(--dip-orange) 0%, var(--dip-orange));
  background-position: 0 0.8em;
  background-repeat: repeat-x;
  background-size: 1px 5px;
}

.link:hover {
  font-style: italic;
}
